// 브레이크 포인트 관련 변수
$mobile: 360px;
$mobile-md: 375px;
$mobile-lg: 414px;
$fold: 512px;
$tablet: 768px;

// $desktop: 1024px;
$desktop: 1140px;
$desktop-lg: 1291px;
$desktop-xl: 1600px;
$desktop-over: 2500px;


// %%%% px to rem %%% //
$px1: .063rem;
$px2: .125rem;
$px3: .188rem;
$px4: .25rem;
$px5: .313rem;
$px6: .375rem;
$px7: .438rem;
$px8: .5rem;
$px9: .563rem;
$px10: .625rem;
$px11: .688rem;
$px12: .75rem;
$px13: .813rem;
$px14: .875rem;
$px15: .938rem;
$px16: 1rem;
$px17: 1.063rem;
$px18: 1.125rem;
$px19: 1.188rem;
$px20: 1.25rem;
$px21: 1.313rem;
$px22: 1.375rem;
$px23: 1.438rem;
$px24: 1.5rem;
$px25: 1.563rem;
$px26: 1.625rem;
$px27: 1.688rem;
$px28: 1.75rem;
$px29: 1.813rem;
$px30: 1.875rem;
$px31: 1.938rem;
$px32: 2rem;
$px33: 2.063rem;
$px34: 2.125rem;
$px35: 2.188rem;
$px36: 2.25rem;
$px37: 2.313rem;
$px38: 2.375rem;
$px39: 2.438rem;
$px40: 2.5rem;
$px41: 2.563rem;
$px42: 2.625rem;
$px43: 2.688rem;
$px44: 2.75rem;
$px45: 2.813rem;
$px46: 2.875rem;
$px47: 2.938rem;
$px48: 3rem;
$px49: 3.063rem;
$px50: 3.125rem;
$px52: 3.25rem;
$px54: 3.375rem;
$px56: 3.5rem;
$px58: 3.625rem;
$px60: 3.75rem;
$px62: 3.875rem;
$px64: 4rem;
$px68: 4.25rem;
$px72: 4.5rem;
$px74: 4.625rem;
$px80: 5rem;
$px84: 5.25rem;
$px86: 5.375rem;
$px88: 5.5rem;
$px90: 5.625rem;
$px92: 5.75rem;
$px96: 6rem;
$px98: 6.125rem;
$px100: 6.25rem;
$px110: 6.875rem;
$px120: 7.5rem;
$px128: 8rem;
$px130: 8.125rem;
$px140: 8.75rem;
$px154: 9.625rem;
$px160: 10rem;
$px170: 10.625rem;
$px180: 11.25rem;
$px200: 12.5rem;
$px220: 13.75rem;
$px230: 14.375rem;
$px250: 15.625rem;
$px274: 17.125rem;
$px280: 17.5rem;

// project - color
$color-main-400: #007C70;
$color-main-300: #00A797;
$color-main-200: #16C1B1;
$color-main-100: #00FFD4;


//라디오
$radio-size: 20px;

/// %%% Color Styles %%% //
// Brand Color
$primary: #000;
$primary-50: #000;
$primary-300: #000;
$primary-400: #000;

$secondary: #fff;
$secondary-50: #fff;
$secondary-300: #fff;

// System Color
$confirm: #0065FF;
$confirm-500: #0055d6;
$confirm-300: #005ff0;
$confirm-50: #e6f0ff;

$available: #36b37e;
$available-500: #2d9569;
$available-300: #33a877;
$available-50: #e1fff2;

$warning: #ffab00;
$warning-500: #d68f00;
$warning-300: #f0a100;
$warning-50: #fff6e4;

$error: #ce3426;
$error-500: #ad2c1f;
$error-300: #c33223;
$error-50: #fff1f0;

$help: #6554c0;
$help-500: #503fab;
$help-300: #5b48bc;
$help-50: #f0edff;


// tailwindCSS Color
$slate-900: #0f172a;
$slate-800: #1e293b;
$slate-700: #334155;
$slate-600: #475569;
$slate-500: #64748b;
$slate-400: #94a3b8;
$slate-300: #cbd5e1;
$slate-200: #e2e8f0;
$slate-100: #f1f5f9;
$slate-50: #f8fafc;

$gray-950: #030712;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;

$zinc-950: #09090b;
$zinc-900: #18181b;
$zinc-800: #27272a;
$zinc-700: #3f3f46;
$zinc-600: #52525b;
$zinc-500: #71717a;
$zinc-400: #a1a1aa;
$zinc-300: #d4d4d8;
$zinc-200: #e4e4e7;
$zinc-100: #f4f4f5;
$zinc-50: #fafafa;

$neutral-900: #171717;
$neutral-800: #262626;
$neutral-700: #404040;
$neutral-600: #525252;
$neutral-500: #737373;
$neutral-400: #a3a3a3;
$neutral-300: #d4d4d4;
$neutral-200: #e5e5e5;
$neutral-100: #f5f5f5;
$neutral-50: #fafafa;

$stone-900: #1c1917;
$stone-800: #292524;
$stone-700: #44403c;
$stone-600: #57534e;
$stone-500: #78716c;
$stone-400: #a8a29e;
$stone-300: #d6d3d1;
$stone-200: #e7e5e4;
$stone-100: #f5f5f4;
$stone-50: #fafaf9;

$red-900: #7f1d1d;
$red-800: #991b1b;
$red-700: #b91c1c;
$red-600: #dc2626;
$red-500: #ef4444;
$red-400: #f87171;
$red-300: #fca5a5;
$red-200: #fecaca;
$red-100: #fee2e2;
$red-50: #fef2f2;

$orange-900: #7c2d12;
$orange-800: #9a3412;
$orange-700: #c2410c;
$orange-600: #ea580c;
$orange-500: #f97316;
$orange-400: #fb923c;
$orange-300: #fdba74;
$orange-200: #fed7aa;
$orange-100: #ffedd5;
$orange-50: #fff7ed;

$amber-900: #78350f;
$amber-800: #92400e;
$amber-700: #b45309;
$amber-600: #d97706;
$amber-500: #f59e0b;
$amber-400: #fbbf24;
$amber-300: #fcd34d;
$amber-200: #fde68a;
$amber-100: #fef3c7;
$amber-50: #fffbeb;

$yellow-900: #713f12;
$yellow-800: #854d0e;
$yellow-700: #a16207;
$yellow-600: #ca8a04;
$yellow-500: #eab308;
$yellow-400: #facc15;
$yellow-300: #fde047;
$yellow-200: #fef08a;
$yellow-100: #fef9c3;
$yellow-50: #fefce8;

$lime-900: #365314;
$lime-800: #3f6212;
$lime-700: #4d7c0f;
$lime-600: #65a30d;
$lime-500: #84cc16;
$lime-400: #a3e635;
$lime-300: #bef264;
$lime-200: #d9f99d;
$lime-100: #ecfccb;
$lime-50: #f7fee7;

$green-900: #14532d;
$green-800: #166534;
$green-700: #15803d;
$green-600: #16a34a;
$green-500: #22c55e;
$green-400: #4ade80;
$green-300: #86efac;
$green-200: #bbf7d0;
$green-100: #dcfce7;
$green-50: #f0fdf4;

$emerald-900: #064e3b;
$emerald-800: #065f46;
$emerald-700: #047857;
$emerald-600: #059669;
$emerald-500: #10b981;
$emerald-400: #34d399;
$emerald-300: #6ee7b7;
$emerald-200: #a7f3d0;
$emerald-100: #d1fae5;
$emerald-50: #ecfdf5;

$teal-900: #134e4a;
$teal-800: #115e59;
$teal-700: #0f766e;
$teal-600: #0d9488;
$teal-500: #14b8a6;
$teal-400: #2dd4bf;
$teal-300: #5eead4;
$teal-200: #99f6e4;
$teal-100: #ccfbf1;
$teal-50: #f0fdfa;

$cyan-900: #164e63;
$cyan-800: #155e75;
$cyan-700: #0e7490;
$cyan-600: #0891b2;
$cyan-500: #06b6d4;
$cyan-400: #22d3ee;
$cyan-300: #67e8f9;
$cyan-200: #a5f3fc;
$cyan-100: #cffafe;
$cyan-50: #ecfeff;

$sky-900: #0c4a6e;
$sky-800: #075985;
$sky-700: #0369a1;
$sky-600: #0284c7;
$sky-500: #0ea5e9;
$sky-400: #38bdf8;
$sky-300: #7dd3fc;
$sky-200: #bae6fd;
$sky-100: #e0f2fe;
$sky-50: #f0f9ff;

$blue-900: #1e3a8a;
$blue-800: #1e40af;
$blue-700: #1d4ed8;
$blue-600: #2563eb;
$blue-500: #3b82f6;
$blue-400: #60a5fa;
$blue-300: #93c5fd;
$blue-200: #bfdbfe;
$blue-100: #dbeafe;
$blue-50: #eff6ff;

$indigo-900: #312e81;
$indigo-800: #3730a3;
$indigo-700: #4338ca;
$indigo-600: #4f46e5;
$indigo-500: #6366f1;
$indigo-400: #818cf8;
$indigo-300: #a5b4fc;
$indigo-200: #c7d2fe;
$indigo-100: #e0e7ff;
$indigo-50: #eef2ff;

$violet-900: #4c1d95;
$violet-800: #5b21b6;
$violet-700: #6d28d9;
$violet-600: #7c3aed;
$violet-500: #8b5cf6;
$violet-400: #a78bfa;
$violet-300: #c4b5fd;
$violet-200: #ddd6fe;
$violet-100: #ede9fe;
$violet-50: #f5f3ff;

$purple-900: #581c87;
$purple-800: #6b21a8;
$purple-700: #7e22ce;
$purple-600: #9333ea;
$purple-500: #a855f7;
$purple-400: #c084fc;
$purple-300: #d8b4fe;
$purple-200: #e9d5ff;
$purple-100: #f3e8ff;
$purple-50: #faf5ff;

$fuchsia-900: #701a75;
$fuchsia-800: #86198f;
$fuchsia-700: #a21caf;
$fuchsia-600: #c026d3;
$fuchsia-500: #d946ef;
$fuchsia-400: #e879f9;
$fuchsia-300: #f0abfc;
$fuchsia-200: #f5d0fe;
$fuchsia-100: #fae8ff;
$fuchsia-50: #fdf4ff;

$pink-900: #831843;
$pink-800: #9d174d;
$pink-700: #be185d;
$pink-600: #db2777;
$pink-500: #ec4899;
$pink-400: #f472b6;
$pink-300: #f9a8d4;
$pink-200: #fbcfe8;
$pink-100: #fce7f3;
$pink-50: #fdf2f8;

$rose-900: #881337;
$rose-800: #9f1239;
$rose-700: #be123c;
$rose-600: #e11d48;
$rose-500: #f43f5e;
$rose-400: #fb7185;
$rose-300: #fda4af;
$rose-200: #fecdd3;
$rose-100: #ffe4e6;
$rose-50: #fff1f2;

$black: #333333;
$white: #ffffff;



// %%% Font Weight %%% //
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;